.row
  .panel
    %p
      = "Hello #{@user.email},"
      %br
      %br
      You have a new password for your account. Please head over to the
      = link_to "log in", login_url
      page, log in and change your password. Here is your temp password
      %br
      %br
      Temp password:
      %strong
        = @password
      %br
      %br
      %a.button.protrude.round.large{href: login_url(ref: 'email')} Login