h1, h2, h3, h4, h5, h6
  font-family: 'Source Sans Pro', sans-serif
  color: #000

h2
  font-size: 28px
  font-weight: 400

h3
  font-size: 23px
  font-weight: 600

.subheader
  margin-top: emCalc(-11px)

a
  color: $mainColor
  &:hover
    color: darken($mainColor, 8%)

.header
  h1, h2, h3, h4, h5, h6
    margin-top: 0

.panel
  h1, h2, h3, h4, h5, h6
    color: #000
  .subheader
    color: #999
  p
    color: #555