.row
  .twelve.columns
    %img{:src => "/assets/vacuum_01.jpeg"}
    %hr
.row
  .four.columns
    %img{:src => "/assets/bomb.png"}
  .eight.columns
    %h4 When stuff blows up, were here to help.
    .row
      .six.columns
        %p Log any and every error your application throws via javascript/html error. We catch the window.onerror method and report back everything you need to know.
      .six.columns
        %p Not only do we log errors. You are given 6 different type of application logging methods you can call at anytime to log whatever data you want.
.row
  .eight.columns
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
    %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
  .four.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}