.row
  .large-12.columns
    #logo-large
    %h1 Front-end error reporting has never been easier.
.row
  .large-6.columns.offset-by-three
    %a.button.huge.protrude.round.block{href: signup_path} Sign up for free
%section#features
  .row
    .large-7.columns
      %img{src: image_path('imac.png')}/
    .large-4.columns.offset-by-one
      %h2 Catch Everything
      %p Vacuum catches the window.onerror method and reports back everything you need to know.
      %h2 Duplicate Grouping
      %p We group identical errors together so you can see just how many times each error has occurred.
      %h2 Manually Log Messages
      %p Vacuum.js comes with easy methods for manually logging messages or errors from within your code.