%footer#footer
  .row
    .large-2.push-5.columns
      %p.copyright Vacuum &copy; 2013
    .large-5.columns
      %p.credits
        Vacuum was lovingly crafted by
        %br/
        %a{href: 'http://twitter.com/amanelis', target: '_blank'} @amanelis
        and
        %a{href: 'http://twitter.com/mattsjohnston', target: '_blank'} @mattsjohnston