%footer.row
  .twelve.columns
    %hr
    .row
      .six.columns
        %p © Copyright Vacuum. All rights reserved.
      .six.columns
        %ul.link-list.right
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Info
          %li
            %a{:href => "#"} Team
          %li
            %a{:href => "#"} Contact