%footer#footer
  .row
    .large-5.columns
      / %ul.link-list
      /   %li
      /     %a{:href => "#"} About
      /   %li
      /     %a{:href => "#"} Info
      /   %li
      /     %a{:href => "#"} Team
      /   %li
      /     %a{:href => "#"} Contact
    .large-2.columns
      %p.copyright Vacuum &copy; 2013
    .large-5.columns
      %p.credits
        Vacuum was lovingly crafted by
        %br/
        %a{href: 'http://twitter.com/amanelis', target: '_blank'} @amanelis
        and
        %a{href: 'http://twitter.com/mattsjohnston', target: '_blank'} @mattsjohnston