- title "Vacuum.io | Pricing"
.row
  .large-12.columns
    %h2.text-center One plan to rule them all
    %h5.subheader.text-center Sign up today to start using Vacuum Pro. Canel anytime.
    %hr/
    .row
      .large-4.large-centered.columns
        %ul.pricing-table
          %li.title Vacuum Pro
          %li.price $150/yr.
          %li.description Our plan plan is great for most people, but if you're looking for a bigger plan, contact us.
          %li.bullet-item
            %b Unlimited
            Projects
          %li.bullet-item
            %b 3,500
            Errors per day
          %li.cta-button
            -if user_signed_in?
              %a.button.success.round{:href => "#", "data-reveal-id" => "chargeCard"}
                Upgrade Now
            -else
              %a.button.success.round{href: signup_path}
                Sign Up Now