.row
  .large-12.columns
    %h2.text-center One plan to rule them all
    %h5.subheader.text-center Sign up today to start using Vacuum pro. Canel anytime.
    %hr/
    .row
      .large-4.large-offset-2.columns
        %ul.pricing-table
          %li.title Hacker Plan
          %li.price $50/yr.
          %li.description This plan is great for development, small projects, and new startups.
          %li.bullet-item
            %b Unlimited
            Projects
          %li.bullet-item
            %b Unlimited
            Errors per day
          %li.cta-button
            %a.button.success.round{:href => "#", "data-reveal-id" => "chargeCard"} Upgrade Now
      .large-4.pull-2.columns
        %ul.pricing-table
          %li.title Free Plan
          %li.price --
          %li.description This plan is great for development, small projects, and new startups.
          %li.bullet-item
            %b 1
            Projects
          %li.bullet-item
            %b 100
            Errors per day
          %li.price You have this plan