.row
  .large-12.columns
    - if @projects.empty?
      .panel
        %h2= link_to "Create your first project", new_project_path
    - else
      %h2 Your Projects
      %table.table
        %thead
          %tr
            %th Name
            %th Last Error
            %th Unesolved
            %th Total
            %th{width: 150}
          %tbody
            - @projects.each do |project|
              = render partial: 'projects/index_row', locals: {project: project}
      %div{align: 'left'}
        %a.success.button.round{href: new_project_path}
          %i.foundicon-plus
          Create a project
        = will_paginate(@projects)