.row
  .twelve.columns
    - if @projects.empty?
      .panel
        %h2= link_to "Create your first project", new_project_path
    - else
      - @projects.each do |project|
        %table.twelve
          %thead
            %tr
              %th Name
              %th Last Error
              %th Open
              %th Total
              %th
          %tbody
            %tr
              %td= link_to project.name, project_path(project)
              %td Yesterday
              %td 2
              %td 11
              %th
                .small.button.dropdown{:href => "#"}
                  Configuration
                  %ul
                    %li
                      %a{href: edit_project_path(project) } Settings
                    %li
                      %a{:href => project_path(project)} Logs
                    %li.divider
                    %li
                      = link_to "Delete", project_path(project), :method => :delete, :confirm => "Are you sure you want to delete this project?"
      %div{:align => 'left'}
        %a.success.button{:href => new_project_path} Create a project
        = will_paginate(@projects)