%header
  .row
    .large-12.columns
      %nav.top-bar
        %ul.title-area
          %li
            %a#logo{href: '/'} Vacuum
          - if user_signed_in?
            %li.toggle-topbar
              %a{href: '#'}
                %i.icon-reorder
        = render partial: 'layouts/header/navigation'