%head
  %title Vacuum
  = stylesheet_link_tag    'application', media: 'all'
  /[if lt IE 8]
  = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
  :plain
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap {display:table;height:100%}
      </style>
    <![endif]-->