%header
  .row
    .large-12.columns
      %nav.top-bar
        %ul.title-area
          %li
            %a#logo{href: '/'} Vacuum
          %li.toggle-topbar
            %a{href: '#'}
              %i.icon-reorder
        %section.top-bar-section
          = render partial: 'layouts/header/navigation'