- if user_signed_in?
  %ul.right
    - if current_user.needs_to_pay?
      %li
        %a.cta{href: pricing_path} Upgrade
    %li
      %a{href: projects_path} My Projects
    %li
      %a{href: account_path} Account
    %li
      %a{href: logout_path} Logout
- else
  #login-link
    %a.button.round.faint{href: login_path} Login