- if user_signed_in?
  %ul.nav.right
    - if current_user.needs_to_pay?
      %li
        %a.button.round.small.alert{:href => "#", "data-reveal-id" => "chargeCard"} Upgrade
    %li
      %a.button.round.small{href: projects_path} My Projects
    %li
      %a.button.round.small{href: account_path} Account
    %li
      %a.button.round.small{href: logout_path} Logout
- else
  %ul.nav.right
    %li
      %a.button.round.faint{href: login_path} Login