@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(http://fonts.googleapis.com/css?family=Rambla);

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
}

pre {
  display: block;
  background: white;
  color: black;
  border: 1px solid #CCC;
  padding: 15px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.label.warn {
  background-color: #F18D0C;
}