!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Facebook sharing information tags
    %meta{:content => "*|MC:SUBJECT|*", :property => "og:title"}/
    %title= content_for?(:subject) ? yield(:subject) : "Boatbound"
    = stylesheet_link_tag "mailers/mailer", :media => "all"

  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :topmargin => "0"}
    %center
      %table#backgroundTable{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
        %tr
          %td{:align => "center", :valign => "top"}
            / // Begin Template Preheader \\
            %table#templatePreheader{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "600"}
              %tr
                %td.preheaderContent{:valign => "top"}
                  / // Begin Module: Standard Preheader \
                  %img{src: image_path('logo-main.png')}
            %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tr
                %td{:align => "center", :valign => "top"}
                  / // Begin Template Body \\
                  %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                    %tr
                      %td.bodyContent{:valign => "top"}
                        / // Begin Module: Standard Content \\
                        %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td{:valign => "top"}
                              %div{"mc:edit" => "std_content00"}
                                = yield
